.bg-image {
  position: absolute;
  background-image: url(./../../assets/bg.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  z-index: -1;
}
