.contents-container {
  padding: 40px;
}

.subheading {
  font-size: 36px;
  font-weight: bold;
  color: #208258;
}

.desc {
  margin-bottom: 20px;
  font-weight: 500;
}

.item-container {
  margin: 40px 0px;
  max-width: 960px;
  display: flex;
}

.item-container:nth-of-type(odd) {
  flex-direction: row;
}

.item-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.item-image {
  width: 30%;
  height: fit-content;
  border-radius: 8px;
}

.item-name {
  color: #208258;
  font-size: 24px;
  font-weight: 600;
  display: flex;
}

.vl-left {
  border-left: 6px solid #208258;
  height: 36px;
  margin-right: 10px;
}

.vl-right {
  border-left: 6px solid #208258;
  height: 36px;
  margin-left: 10px;
}

.item-desc {
  width: 60%;
}

.left {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.right {
  margin-right: 5%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bold {
  font-weight: 600;
  color: #208258;
}

p {
  margin: 10px 0px;
}

@media screen and (max-width: 1000px) {
  .subheading {
    font-size: 24px;
  }

  .desc {
    text-align: center;
  }

  .item-container {
    display: block;
  }

  .item-image,
  .item-desc {
    width: 100%;
  }

  .item-desc {
    padding-top: 10px;
  }

  .left,
  .right {
    margin: 0;
    text-align: left;
  }
  .vl-right {
    margin-right: 0px;
    margin-left: 10px;
  }

  .item-name {
    width: 90vw;
  }
}
