.features-container {
  background-color: #208258;
  padding: 40px;
  color: white;
}

.card-container {
  width: 90%;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: #aff3c7;
  border-radius: 50%;
  color: #208258;
  padding: 5px;
}

.light-green {
  color: #aff3c7 !important;
}
