footer {
  background-color: #208258;
  color: white;
  padding-bottom: 40px;
}

.price-footer {
  font-size: 36px;
  font-weight: bold;
}

footer button {
  margin: 10px 10px 20px 10px !important;
}

.share-icons * {
  margin: 10px 10px 0px 10px;
  width: 16px;
  height: 16px;
}
