.img-container {
  margin-top: 140px;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: 100%;
}
